.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 2px -2px gray;
  padding: 12px 20px;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: white;

  &.collapsed {
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 80px;

    .logoText {
      margin-left: 8px;
    }
  }

  .userSection {
    position: relative;
    cursor: pointer;
    margin-right: 20px;

    .menuDropdown {
      position: absolute;
      top: 50px;
      right: 0;
      background: white;
      color: black;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      width: 160px;
      padding: 8px;
      z-index: 1100;

      .menuButton {
        width: 100%;
        padding: 10px;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;

        &:hover {
          background: #ddd;
        }
      }
    }
  }
}
