.container {
  label {
    font-size: 11px;
    color: #383838;
  }

  .ingredientRow {
    display: flex;
    margin-bottom: 10px;
    gap: 40px;

    div {
      max-width: 260px;

      input {
        background-color: #EFEFEF;
      }
    }
  }

  button {
    width: 200px;
    font-size: 11px;
    padding: 0;
  }

  .addButton {
    margin: 10px 0 15px 0;
    padding: 10px;
  }
}