.container {
  width: 100%;
  padding: 20px;

  .faqList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: 40px;
  }
  
  .faqItem {
    background: #fff;
    border-radius: 6px;
    padding: 10px;
  }
  
  .question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px;
  }
  
  .question span {
    font-size: 18px;
  }
  
  .answer {
    padding: 14px;
    background: #e9ecef;
    border-radius: 4px;
    margin-top: 8px;
  }
}

